
/SecondApplicationForAzure.Server/obj
/.vs
/secondapplicationforazure.client/.vscode
/SecondApplicationForAzure.Server/.vs
/SecondApplicationForAzure.Server/bin
secondapplicationforazure.client/package-lock.json
/SecondApplicationForAzure.Server/Properties/PublishProfiles
